result/
code/R/reliability_ex.R
code/R/reliability_ox.R 
code/R/reliability_ucl.R 
code/R/reliability_betweensites.R 

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS metadata
.Spotlight-V100
.Trashes
.fseventsd
.apdisk

# VS Code
.vscode/
.history/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.venv/
env/
venv/

# R
.Rapp.history
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# MATLAB
*.asv
*.mex*
*.fig

# Stata
*.smcl
*.tmp
*.temp
*.~*

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
